@use '../../../shared/styles/variables';
@use '../../../shared/styles/mixins';
@use '../../../shared/styles/typography';
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Sedgwick+Ave&family=Syne:wght@400..800&display=swap%27');


body {
  background-color: variables.$secondaryColor;
  color: variables.$tertiaryColor;
  font-family: typography.$ParagraphFont;

}

#gallerySwitch {
  display: flex;
  justify-content: center;
  gap: 64px;
  margin: 50px 0;

  button {
    padding: 16px 64px;
    cursor: pointer;
    border: 4px solid variables.$accentColor;
    background-color: variables.$secondaryColor;
    color: variables.$tertiaryColor;
    font-family: typography.$ParagraphFont;
    font-size: typography.$ParagraphSize;
    transition: 300ms;

      &:hover {
        background-color: variables.$accentColor;
      }
  }
}

#gallerySlider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 50px 0;

  button {
    font-size: 64px;
    cursor: pointer;
    background: none;
    color: variables.$accentColor;
    border: none;
    transition: 300ms;
      &:hover {
        scale: 1.25;
      }
  }

  img {
    // passer til 1250x700
    width: 50vw;
    aspect-ratio: 25 / 14;
    height: auto;

    object-fit: cover;
  }
}

#galleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 80vw;
  margin: 50px 0;

  img {
    display: block;
    width: 100%;
    cursor: pointer;
    object-fit: cover;

    &:hover {
      opacity: 0.8;
    }
  }
}
#galleryGridSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;

  button {
    font-size: 64px;
    cursor: pointer;
    background: none;
    color: variables.$accentColor;
    border: none;
    transition: 300ms;
      &:hover {
        scale: 1.25;
      }
  }
}
