@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Sedgwick+Ave&family=Syne:wght@400..800&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Sedgwick+Ave&family=Syne:wght@400..800&display=swap%27");
body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
}

#gallerySwitch {
  display: flex;
  justify-content: center;
  gap: 64px;
  margin: 50px 0;
}
#gallerySwitch button {
  padding: 16px 64px;
  cursor: pointer;
  border: 4px solid #F66A17;
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  transition: 300ms;
}
#gallerySwitch button:hover {
  background-color: #F66A17;
}

#gallerySlider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 50px 0;
}
#gallerySlider button {
  font-size: 64px;
  cursor: pointer;
  background: none;
  color: #F66A17;
  border: none;
  transition: 300ms;
}
#gallerySlider button:hover {
  scale: 1.25;
}
#gallerySlider img {
  width: 50vw;
  aspect-ratio: 25/14;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#galleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 80vw;
  margin: 50px 0;
}
#galleryGrid img {
  display: block;
  width: 100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}
#galleryGrid img:hover {
  opacity: 0.8;
}

#galleryGridSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}
#galleryGridSlider button {
  font-size: 64px;
  cursor: pointer;
  background: none;
  color: #F66A17;
  border: none;
  transition: 300ms;
}
#galleryGridSlider button:hover {
  scale: 1.25;
}