// her kommer standard spacing variabler for layout

// Margin



// padding


// Layout spacing


// Image spacing


// max-width spacing


// max-height spacing


// border radius spacing


// section spacing


// gap spacing


// z-index spacing