@use 'breakpoints';

@mixin respond-to($breakpoint) {
  $size: map-get(breakpoints.$breakpoints, $breakpoint);
  @if $size != null {
    @media (min-width: $size) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found in \$breakpoints map.";
  }
}