// fonts and typography settings

// sieze settings
$HeadingSiezeOne: 40px; // for main titles
$HeadingSiezeTwo: 24px; // for section titles
$HeadingSiezeThree: 20px; // for card titles

// font weight settings
$HeadingOneBold: 700; // bold
$HeadingTwoBold: 400; // regular
$HeadingThreeBold: 300; // light


// font family settings
$PrimaryFont: 'Inter', sans-serif; // primary font for headings
