.navbar {
  margin: 0;
  padding: 0;
}

#backButton {
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 9999;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #333;
  border-radius: 5px;
}
