@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --primary: #789598;
    --secondary: #000000;
    --accent: #F66A17;
    --tertiary: #FFFFFF;
}

main {
    background-color: var(--primary);
    font-family: "Inter", sans-serif;
}

h2{
    text-decoration: underline var(--accent);
}

#sectionTwo{
    background-color: var(--secondary);
    color: #FFFFFF;
}