:root {
    --pirmary: #789598;
    --secondary: #000000;
    --accent: #f66a17;
    --tertiary: #FFFFFF;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--pirmary);
}

article {
    border: 2px solid;
    border-radius: 10px;
}

a{
    color: var(--tertiary);
}