:root {
    --primary: #789598;
    --secondary: #000000;
    --accent: #F66A17;
    --tertiary: #FFFFFF;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary);
    line-height: 50px;
}

#logo {
    display: block;
    width: 30%;
}

.devider {
    width: 1px;
    height: 48px;
    background-color: var(--accent);
    margin: 12px 12px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--tertiary);
    transition: 350ms ease-in-out;
}

nav ul li a:hover {
    background-color: var(--accent);
    border-radius: 10px;

}